@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

/*INDEX.HTML*/


/*header*/

header {
    background-color: #b48c44;

}

/*icons*/


.icons a {

    font-size: 40px;
    color: black;
    padding-right: 50px;
    text-decoration: none;
}

i.fab {
    transition: transform .2s;
}

i.fab:hover {

    color: chocolate;
    transform: scale(2);
}




/*button*/


#about {
    display: none;
    text-align: justify;
    font-family: 'Antonio', sans-serif;
    font-weight: 900;
    padding-bottom: 25px;


}



/*navbar*/


.nav a:hover {
    color: chocolate;
}




/*photography*/

.no-padding {
    padding: 0;
}

/*copyrhight*/

.copyright {
    padding: 0;
    padding-top: 25px;
    font-size: x-small;
}

/*POST PRODUCTION*/

/*header*/






.post-production {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    padding: 25px 12.5rem 0 12.5rem;



}


/*Packages-Prices*/

.packages {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    margin-top: 25px;


}


.packages h2 {
    margin-bottom: 25px;
}


.vector-click {
    max-width: 80px;
    padding-bottom: 25px
}


/*MY JOURNEY*/

/*map*/

#map{
    height: 720px;
    margin-top: 15px;
}













@media only screen and (max-width:576px) {


    /*INDEX.HTML*/


    /*icons*/

    .icons {
        padding: 0px 0px;
    }

    .icons a {
        font-size: larger;
        padding-right: 25px;
    }


    /*logo*/

    .logo {
        padding-left: 35px;
    }


    /*button*/

    .about-me {
        font-size: xx-small;
        margin: 25px 0px 25px 100px;
    }

    #about {
        font-size: x-small;
    }

    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: smaller;
        padding: 0px 5px 25px 5px;



    }

    /*copyright*/


    .copyright {
        padding: 0;
        padding-top: 25px;
        font-size: xx-small;
        font-weight: lighter;
    }


    /*POST PRODUCTION*/

    /*header*/

    .vector-camera {
        display: none;
    }


    /*post-production section*/

    .post-production {
        margin-top: 15px;
        padding: 0;
    }

    .post-production h1,
    h3 {
        font-size: medium;
    }

    .post-production p {
        font-size: x-small;
    }


    /*packages-prices*/

    .packages h2 {
        font-size: medium;
        margin-top: 0;
    }

    .vector-click {
        max-width: 50px;
        padding-bottom: 25px;

    }

    .packages button {
        font-size: xx-small;
    }








}

@media only screen and (min-width:768px) {

    /*INDEX.HTML*/


    /*logo*/



    /*button*/

    .about-me {
        margin: 25px 0px 25px 288px;
    }


    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: x-large;
        padding-bottom: 50px;
    }


    /*POST PRODUCTION*/

    /*header*/


    /*icons*/

    .icons{
        padding-top: 0;
    }

   

    .vector-camera {

        width: 140px;
        margin: 10px 60px 0 0;


    }


    .logo {
        text-align: center;
        padding-left: 80px;
    }


    /*post-production-section*/

    .post-production h1 h3 {
        font-size: large;
    }

    .post-production p {
        font-size: small;
    }


    /*packages-prices*/

    .packages h2 {
        font-size: large;
    }

   


}


@media only screen and (min-width:992px) {

    /*INDEX.HTML*/

    /*icons*/


    .icons {
        padding-top: 25px;
    }

    .icons a{
        padding-right: 25px;
    }


    /*button*/

    .about-me {
        margin: 50px 0px 0px 103px
    }


    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: 2.5rem;
        padding-bottom: 50px;
    }


    /*POST PRODUCTION*/

    /*header*/

    /*logo*/

    .logo {
        margin-left: 0;
        padding-left: 0;
    }

    .vector-camera {

    width: 280px;
    margin-top: 20px;

}


/*packages-prices*/

.packages button {
    font-size: xx-large;
}

.packages h2 {
        font-size:x-large;
    }


   

}