@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

body {
    font-family: 'Antonio', sans-serif;
}

/*INDEX.HTML*/




/*header*/

header {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(146, 143, 143, 0.5));

}



/*icons*/


.head a {

    font-size: 40px;
    color: black;
    text-decoration: none;

}

.head i {
    padding-right: 35px;
}


i.fab {
    transition: transform .2s;
}

i.fab:hover {

    color: chocolate;
    transform: scale(2);
}

/*logo*/


.head img {
    margin-left: 10.5rem;
}

/*button*/

.about-me{
    margin-right: 50px;
}



#about {
    display: none;
    text-align: justify;
    font-weight: 900;
    padding-bottom: 25px;


}



/*navbar*/



.nav a:hover {
    color: chocolate;

}

.nav a:active {
    color: white
}






/*photography*/

.no-padding {
    padding: 0;
}


/*Footer-Form*/

.footer p {
    text-align: center;
    font-size: xx-large;
}

.footer {
    margin-top: 25px;
}

.footer a {
    color: black;
    text-decoration: none;
}









/*copyrhight*/

.copyright {

    color: black;
    padding: 0;
    padding-top: 25px;
    font-size: x-small;
}

/*POST PRODUCTION*/

/*header*/






.post-production {
    text-align: center;
    padding: 25px 12.5rem 0 12.5rem;



}


/*Packages-Prices*/

.packages {
    text-align: center;
    margin-top: 25px;


}


.packages h2 {
    margin-bottom: 25px;
}


.vector-click {
    max-width: 80px;
    padding-bottom: 25px
}


/*MY JOURNEY*/

/*map*/

#map {
    height: 720px;

}

/*countries*/

.display-country {
    display: flex;
    justify-content: space-around;
    padding: 0;

}


/*countries-card*/


.card {

    height: 360px;
    padding: 2rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: inherit;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0);
    transition: 0.5s ease-in-out;
}

.card:hover {

    transform: translateY(25px);

}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(228, 228, 228), rgba(33, 37, 41, 88%));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;


}

.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h3 {
    margin: 0;

}

.card .info p {

    font-size: smaller;
    margin-top: 10px;
    text-align: left;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;


}

.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgb(173, 173, 173);
}
















@media only screen and (max-width:576px) {


    /*INDEX.HTML*/


    /*icons*/

    .head i {
        padding-right: 15px;
    }

    .head a {

        font-size: 15px;
        color: black;
        text-decoration: none;

    }


    /*logo*/

    .head img {
        margin-left: 0;
        padding-left: 0
    }




    /*button*/

    .head button {
        font-size: xx-small;
        margin: 10px 0px 10px 107px;
    }

    #about {
        padding-bottom: 10px;
        margin-left: 10px;
        font-size: x-small;
    }

    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: smaller;
        padding: 0px 5px 25px 5px;
    }


    /*footer*/

    #email {
        margin-right: 5px;
        font-size: 40px;

    }

    #phone {
        margin-right: 10px;
        font-size: 30px;

    }

    .footer a {
        font-size: unset;
        color: black;
        text-decoration: none;
    }


    /*form*/

    h5 {
        margin: 8px 0px 8px 0px
    }

    .form-control {
        width: 100%
    }


    /*form-button*/

    #send {
        margin-top: 15px;
    }


    /*copyright*/


    .copyright {
        color: #fff;
        padding: 0;
        padding-top: 25px;
        font-size: xx-small;
        font-weight: lighter;
    }


    /*POST PRODUCTION*/

    /*header*/




    /*post-production section*/

    .post-production {
        margin-top: 15px;
        padding: 0;
    }

    .post-production h1,
    h3 {
        font-size: medium;
    }

    .post-production p {
        font-size: x-small;
    }


    /*packages-prices*/

    .packages h2 {
        font-size: medium;
        margin-top: 0;
    }

    .vector-click {
        max-width: 50px;
        padding-bottom: 25px;

    }

    .packages button {
        font-size: xx-small;
    }


    /*MY JOURNEY*/


    /*map*/

    #map {
        height: 350px;
    }

    .display-country {
        display: block;
    }




    .form {
        margin: 0;
    }








}

@media only screen and (min-width:768px) {

    /*INDEX.HTML*/


    /*logo*/

    .head img {
        margin-left: 5.7rem;

    }



    /*button*/

    .about-me {
        font-size: larger;
        margin: 10px 0px 10px 19.37rem;
    }


    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: x-large;
        padding-bottom: 50px;
    }


    /*footer*/

    .footer a {
        font-size: smaller;
        color: black;
        text-decoration: none;
    }

    #email {
        font-size: 40px;
        margin-right: 35px;
    }

    #phone {
        font-size: 40px;
        margin-right: 35px;

    }

    /*form*/

    .form-control {
        width: 68%
    }

    h5 {
        margin: 8px 0px 8px 0px
    }


    /*form-button*/

    #send {
        margin-top: 15px;
    }


    /*POST PRODUCTION*/

    /*header*/


    /*icons*/

    .icons {
        padding-top: 0;
    }






    .logo {
        text-align: center;
        padding-left: 80px;
    }


    /*post-production-section*/

    .post-production h1 h3 {
        font-size: large;
    }

    .post-production p {
        font-size: small;
    }


    /*packages-prices*/

    .packages h2 {
        font-size: large;
    }


    /*MY JOURNEY*/


    /*map*/

    #map {
        height: 450px;
    }


    /*countries-card*/

    .card .info p {

        font-size: x-small;
        margin-top: 10px;
        text-align: left;
    }






}


@media only screen and (min-width:992px) {

    /*INDEX.HTML*/

    /*icons*/


    .icons {
        padding-top: 25px;
    }

    .icons a {
        padding-right: 25px;
    }


    /*button*/

    .about-me {
       margin: 10px 0px 10px 230px;
    }

    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: 2.5rem;
        padding-bottom: 50px;
    }


    /*Footer*/

    /*form*/

    /*textarea*/

    .form-control {
        width: 50%;


    }


    /*form-button*/

    #send {
        margin: 15px 0px 0px 75px;
    }


    /*POST PRODUCTION*/


    /*packages-prices*/

    .packages button {
        font-size: xx-large;
    }

    .packages h2 {
        font-size: x-large;
    }


    /*MY JOURNEY*/

    /*countries-card*/

    .card .info p {

        font-size: smaller;
        margin-top: 10px;
        text-align: left;
    }




}