@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

/*INDEX.HTML*/


/*header*/

header {
    background-color: #aeae7f;

}

/*icons*/

.icons a {

    font-size: 40px;
    color: black;
    padding-right: 50px;
    text-decoration: none;
}

i.fab {
    transition: transform .2s;
}

i.fab:hover {

    color: chocolate;
    transform: scale(2);
}




/*button*/



#about {
    display: none;
    text-align: justify;
    font-family: 'Antonio', sans-serif;
    font-weight: 900;
    padding-bottom: 25px;


}



/*navbar*/


.nav a:hover {
    color: chocolate;
}




/*photography*/

.no-padding {
    padding: 0;
}

/*copyrhight*/

.copyright {
    padding: 0;
    padding-top: 25px;
    font-size: x-small;
}

/*POST PRODUCTION*/

/*header*/

.vector-gif {
    width: 280px;

}


.post-production {
    text-align: center;
    font-family: 'Antonio', sans-serif;
    padding: 25px 12.5rem 0 12.5rem;

}


@media only screen and (max-width:576px) {


    /*INDEX.HTML*/


    /*icons*/

    .icons {
        padding-right: 0;
    }

    .icons a {
        font-size: larger;
        padding-right: 25px;
    }

    /*button*/

    .btn {
        font-size: xx-small;
        margin: 25px 0px 25px 105px;
    }

    #about {
        font-size: x-small;
    }

    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: smaller;
        padding: 0px 5px 25px 5px;



    }

    /*copyright*/


    .copyright {
    padding: 0;
    padding-top: 25px;
    font-size:xx-small;
}


    /*POST PRODUCTION*/

    /*header*/

    .vector-gif {
        display: none;
    }

    .post-production {
        margin-top: 15px;
        padding: 0;
    }

    h1,
    h3 {
        font-size: unset;
    }

    p {
        font-size: smaller;
    }








}

@media only screen and (min-width:768px) {

    /*INDEX.HTML*/

    /*button*/

    .btn {
        margin: 25px 0px 25px 290px;
    }


    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: x-large;
        padding-bottom: 50px;
    }


    /*POST PRODUCTION*/

    /*header*/

    .vector-gif {
        display: none;
    }

    .logo {
        text-align: center;
    }
}


@media only screen and (min-width:992px) {

    /*INDEX.HTML*/

    /*button*/

    .btn {
        margin: 50px 0px 0px 103px
    }


    /*navbar*/

    .nav a {
        font-family: 'Antonio', sans-serif;
        color: black;
        text-decoration: none;
        font-size: 2.5rem;
        padding-bottom: 50px;
    }


    /*POST PRODUCTION*/

    /*header*/


    .vector-gif {
        display: unset;
    }

}